.chart-series-line {
    -fx-stroke: #ff0000; /* رنگ خط نمودار (قرمز) */
}

.chart-legend-item-symbol {
    -fx-background-color: #ff0000, white; /* رنگ نماد در لِجند (قرمز) */
}

.chart-line-symbol {
    -fx-background-color: transparent; /* نقاط را شفاف می‌کند */
    -fx-padding: 0; /* حذف فاصله بین نقطه‌ها و محتوای داخلی آن‌ها */
    -fx-background-radius: 0; /* حذف شعاع گوشه‌های نقطه‌ها */
}
